<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Temática</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">

        <div class="menu container">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../images/menu.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li> <a href="../index.html"> Inicio</a> </li>
                    <li> <a href="acercade.html"> Acerca de </a> </li>
                    <li> <a href="contacto.html"> Contacto </a> </li>
                </ul>
            </nav>
        </div>

        <div class="header-content container">
            <div class="header-txt">
                <h1>BarberShop</h1>
                <span>SV</span>
            </div>
        </div>
    </header>
    <section class="personal container">
        <div class="personal-txt">
            <h2>Nuestros Estilistas</h2>
            <hr>
            <p>
                Nuestros mejores estilistas están a su disposicion y brindan un servicio de excelente calidad para los clientes,
                puede contactarlos si desea cualquier tipo de corte o otro servicio.
            </p>
        </div>
        <div class="personal-group">
            <div class="personal-1">
                <img src="../images/b1.jpg" alt="">
                <h3>Victor Flores</h3>
                <p>
                    Tel. 7025-0322
                </p>
            </div>

            <div class="personal-1">
                <img src="../images/b2.jpg" alt="">
                <h3>Emmanuel Gutierrez</h3>
                <p>
                    Tel. 6203-4222
                </p>
            </div>
            <div class="personal-1">
                <img src="../images/b3.jpg" alt="">
                <h3>Jacob Palacios</h3>
                <p>
                    Tel. 7204-2324
                </p>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-txt">
            <p>
                Contactanos
            </p>
        </div>
    </footer>
    <div class="header-dir">
        <div class="dir">
            <h3>Dirección</h3>
            <p>Sonsonate, El Salvador</p>
        </div>
        <div class="dir">
            <h3>Telefono</h3>
            <p>2626-0000</p>
        </div>
        <div class="dir">
            <h3>Correo Electronico</h3>
            <p>BarberShop@gmail.com</p>
        </div>
        <div class="dir">
            <h3>Horario</h3>
            <p>9:00am a 6:00pm</p>
        </div>
    </div>
</body>
</html>